= form_with model: [@article, @comment] do |form|
  %table
    %thead
      %tr
        %th 項目
        %th 内容
    %tbody
      - %i[commenter body].each do |attr|
        %tr
          %td= form_label_and_error form, @comment, attr
          %td
            - case attr
            - when :commenter
              = form.text_field attr
            - else
              = form.text_area attr, rows: 10, cols: 80
      %tr
        %td{colspan: 2}
          = form.hidden_field :article_id
          = form.submit

