- content_for :title do
  - @page_title = t ".title"

%table
  %thead
    = labels Article, %w[title user_name], add_control: true
  %tbody
    - @articles.each do |article|
      - next if article.archived?

      %tr
        %td= article.title
        %td= article.user_name
        %td
          = lotfp article_path(article)
          - if article.owned_by? current_user
            = lotfp edit_article_path(article)
            = destroy_lotfp article_path(article), Article
    - if user_signed_in?
      %tr
        %td= lotfp new_article_path

