- content_for :title do
  - @page_title = @article.title

%p= @article.body

- if @article.owned_by? current_user
  %ul
    %li= lotfp edit_article_path(@article)
    %li= destroy_lotfp article_path(@article), Article

%h2 Comments
= render partial: "articles/comments/comment", collection: @comments

- if user_signed_in? && @comment.new_record?
  %h2 Add a comment:
  = render "articles/comments/form"
