!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      - if content_for?(:title)
        = yield(:title)
      - else
        #{controller.class.name} : #{controller.action_name}
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_importmap_tags
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
  %body
    - if @page_title.present?
      %h1= @page_title
    = yield
